<section class="our-vision-section" data-animate="fadeInUp">
  <div class="container">
    <div class="content">
      <!-- Left: Image -->


      <!-- Right: Vision Content -->
      <div class="text-container">
        <h2 class="section-subtitle">Our Vision</h2>

        <ul class="vision-list">
          <li>
            To be a global leader in intelligent digital engineering, helping enterprises harness the power of AI,
            Machine Learning, Cloud, and Automation to build a connected, smarter, and more sustainable world.
          </li>
          <li>
            We envision a future where technology is not just a tool — but a trusted partner in shaping better
            decisions, stronger businesses, and impactful innovation.
          </li>
        </ul>
      </div>
      <!-- <div class="image-container">
        <img src="assets/images/sspl-img/pexels-frank-cone-140140-3573555.webp" alt="Our Vision">
      </div> -->

      <div class="image-container">
        <picture>
          <source srcset="assets/images/sspl-img/pexels-frank-cone-140140-3573555.webp" type="image/webp">
          <img src="assets/images/sspl-img/pexels-frank-cone-140140-3573555.webp"
            alt="Our vision for innovative digital solutions at Sveltoz Solutions"
            loading="lazy" decoding="async">
        </picture>
      </div>

    </div>
  </div>
</section>