<section class="our-vision-section" data-animate="fadeInUp">
  <div class="container">
    <div class="content">
      <!-- Left: Image -->
     

      <!-- Right: Vision Content -->
      <div class="text-container">
        <h5 class="section-subtitle">Our Vision</h5>

        <ul class="vision-list">
          <li>
            To be a global leader in intelligent digital engineering, helping enterprises harness the power of AI, Machine Learning, Cloud, and Automation to build a connected, smarter, and more sustainable world.
          </li>
          <li>
            We envision a future where technology is not just a tool — but a trusted partner in shaping better decisions, stronger businesses, and impactful innovation.
          </li>
        </ul>
      </div>
       <div class="image-container">
        <img src="assets/images/ssplImg/pexels-frank-cone-140140-3573555.jpg" alt="Our Vision">
      </div>
    </div>
  </div>
</section>
