<nav class="navbar main-navbar on-top" [class.nav-shadow]='this.pageYPosition>0'>
    <div class="container">
        <a class="navbar-brand text-light" [routerLink]="'inicio'">
            <picture>
                <source srcset="assets/images/sspl-img/sveltoz-logo.webp" type="image/webp">
                <img src="assets/images/sspl-img/sveltoz-logo.webp" width="100" alt="Sveltoz Solutions Private Limited"
                    loading="lazy" decoding="async">
            </picture>
        </a>

        <ul ngbNav #nav="ngbNav" class="menu-ul">
            <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('about')" (mouseleave)="startCloseMegaMenu()">
                <a ngbNavLink class="nav-link" (click)='scrollToSection("about")'><span class="underline nav-text">
                        About Us</span></a>
                <ng-template ngbNavContent>First content</ng-template>
            </li>
            <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('story')" (mouseleave)="startCloseMegaMenu()">
                <a ngbNavLink class="nav-link" (click)='scrollToSection("story")'><span class="underline nav-text">
                        Our Story</span></a>
                <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('vision')" (mouseleave)="startCloseMegaMenu()">
                <a ngbNavLink (click)='scrollToSection("vision")' class="nav-link"> <span class="underline nav-text">
                        Our Vision</span></a>
                <ng-template ngbNavContent>Portfolio Content</ng-template>
            </li>

            <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('mission')" (mouseleave)="startCloseMegaMenu()">
                <a ngbNavLink (click)='scrollToSection("mission")' class="nav-link"> <span class="underline nav-text">
                        Mission</span></a>
                <ng-template ngbNavContent>industries Content</ng-template>
            </li>
            <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('culture')" (mouseleave)="startCloseMegaMenu()">

                <a ngbNavLink (click)='scrollToSection("culture")' class="nav-link">
                    <span class="underline nav-text">Culture & Values</span>
                </a>
            </li>

            <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('services')"
                (mouseleave)="startCloseMegaMenu()">

                <a ngbNavLink (click)='scrollToSection("services")' class="nav-link" role="button">
                    <span class="underline nav-text">Services</span>
                </a>
            </li>

            <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('contact')" (mouseleave)="startCloseMegaMenu()">

                <a ngbNavLink (click)='scrollToSection("contact")' class="nav-link" role="button">
                    <span class="underline nav-text">Contact</span>
                </a>
            </li>

            <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('career')" (mouseleave)="startCloseMegaMenu()">

                <a ngbNavLink (click)='scrollToSection("career")' class="nav-link" role="button">
                    <span class="underline nav-text">Career</span>
                </a>
            </li>
            <ng-container *ngIf="isAdminLoggedIn">
                <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('dashboard')"
                    (mouseleave)="startCloseMegaMenu()">

                    <a ngbNavLink (click)='goToAdminDashboard()' class="nav-link" role="button">
                        <span class="underline nav-text">Dashboard</span>
                    </a>
                </li>
            </ng-container>
            <li ngbNavItem class="mega-menu" (mouseenter)="openMegaMenu('admin-login')"
                (mouseleave)="startCloseMegaMenu()">

                <a ngbNavLink (click)='goToAdminPanel()' class="nav-link" role="button">
                    <span class="underline nav-text"> {{ isAdminLoggedIn ? "Logout" : "Login" }}</span>
                </a>
            </li>
        </ul>


        <div class="menu-wrapper">
            <div [class.animate]='responsiveMenuVisible' (click)="toggleMenu()" class="hamburger-menu"></div>
        </div>
        <div class="menu-responsive" [ngStyle]="{'pointer-events': !responsiveMenuVisible ? 'none' : '' }">
            <aside [class.aside-show]='responsiveMenuVisible' [class.nav-shadow]='this.pageYPosition>0' class="on-top">
                <nav>
                    <ol>
                        <li (click)="handleMenuClick('about', 'click_about')">
                            <a>
                                About Us
                            </a>
                        </li>
                        <li (click)="handleMenuClick('story', 'click_story')">
                            <a>
                                Our Story
                            </a>
                        </li>
                        <li (click)="handleMenuClick('vision', 'click_vision')">
                            <a>
                                Our Vision
                            </a>
                        </li>
                        <li (click)="handleMenuClick('mission', 'click_mission')">
                            <a>
                                Mission
                            </a>
                        </li>
                        <li (click)="handleMenuClick('culture', 'click_culture')">
                            <a>
                                Culture & Values
                            </a>
                        </li>
                        <li (click)="handleMenuClick('services', 'click_services')">
                            <a>
                                Services
                            </a>
                        </li>
                        <li (click)="handleMenuClick('contact', 'click_contact')">
                            <a>
                                Contact
                            </a>
                        </li>
                        <li (click)="handleMenuClick('career', 'click_career')">
                            <a>
                                Career
                            </a>
                        </li>
                        <li *ngIf="isAdminLoggedIn">
                            <a (click)='goToAdminDashboard()'>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a (click)='goToAdminPanel()'>
                                {{ isAdminLoggedIn ? "Logout" : "Login" }}
                            </a>
                        </li>
                    </ol>
                </nav>
            </aside>
        </div>
    </div>
</nav>