@use "./../../../../variables" as *;

footer{
    color: $black;

    .footer-credits{
        font-family: $CodeFont;
        font-size: 15px;
        line-height: 4;
    
        position: absolute;
        left: 0;
        right: 0;
        background: linear-gradient(10deg, #001a3f 10%, #2d3f64 18%, #f8f9fa 90%) !important;
        a{
            color: $black;
            -webkit-transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
            transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
            transition-property: all;
            transition-duration: 0.25s;
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-delay: 0s;

            &:hover, &:focus {
                text-decoration: none;
                color: $Green;
            }
        }
    }
}
