<section class="services-section">
  <div class="container">
    <div class="header">
      <h1 class="section-title">
        Enterprise Software Development
      </h1>
    </div>

    <div class="services-grid">
      <div class="service-card" *ngFor="let item of enterpriseSolutions">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
        <!-- <a href="#" class="know-more">
          Know More <span>&#8594;</span>
        </a> -->
      </div>
    </div>
  </div>
</section>