<section class="success-stories-section">
  <div class="container">

    <div class="stories-grid">
      <div class="story-card" *ngFor="let story of stories">

        <!-- Image -->
        <!-- <div class="image-wrapper">
          <img [src]="story.image" alt="{{ story.title }}" />
          <span class="badge">Success Story</span>
        </div> -->
        <div class="image-wrapper">
          <picture>
            <img [src]="story.image" [alt]="story.title + ' success story by Sveltoz Solutions'" width="600"
              height="400" loading="lazy" decoding="async" class="img-fluid">
          </picture>

          <span class="badge">Success Story</span>
        </div>


        <!-- Category -->
        <span class="category">{{ story.category }}</span>

        <!-- Title + Published -->
        <div class="info">
          <h4 class="domain">{{ story.domain }}</h4>
          <h3 class="title">{{ story.title }}</h3>
          <p class="description">{{ story.description }}</p>

          <ul class="impact-list">
            <li *ngFor="let item of story.impact">{{ item }}</li>
          </ul>
        </div>


        <!-- <a class="read-more" href="#">Read Full Story →</a> -->

      </div>
    </div>

  </div>
</section>