.confirm-dialog {
  padding: 20px 25px;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  color: #00337C;
}

.confirm-dialog h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #00337C;
}

.confirm-dialog p {
  font-size: 15px;
  margin-bottom: 25px;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Cancel button */
.cancel-btn {
  border: 2px solid #002b6b !important;
  color: #002b6b !important;
  background: transparent !important;
  border-radius: 8px;
  padding: 5px 18px;
  font-size: 15px;
}

/* Delete button */
.delete-btn {
  background: #002b6b !important;
  color: #fff !important;
  border-radius: 8px;
  font-size: 15px;
  padding: 5px 18px;
}

/* Mat Dialog box styling */
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 12px !important;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
}
