<div class="apply-form-container">
  <h2 class="title-apply-post">Apply for {{ jobData.title }}</h2>

  <form [formGroup]="applyForm" class="apply-form">

    <div class="form-row">
      <div class="form-group">
        <label>Name<span>*</span></label>
        <input type="text" formControlName="name" placeholder="Enter your name" />

        <small *ngIf="applyForm.get('name')?.touched && applyForm.get('name')?.hasError('required')">
          Name is required
        </small>

        <small *ngIf="applyForm.get('name')?.touched && applyForm.get('name')?.hasError('pattern')">
          Only alphabets are allowed
        </small>
      </div>


      <div class="form-group">
        <label>Email <span>*</span></label>
        <input type="email" formControlName="email" placeholder="Enter a valid email" />
        <small *ngIf="applyForm.get('email')?.invalid && applyForm.get('email')?.touched">
          Enter a valid email
        </small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Phone <span>*</span></label>
        <input type="text" formControlName="phone" placeholder="Enter 10 digit number" maxlength="10" />
        <small *ngIf="applyForm.get('phone')?.invalid && applyForm.get('phone')?.touched">
          Enter valid phone number
        </small>
      </div>

      <div class="form-group">
        <label>Resume (PDF) <span>*</span></label>
        <div class="file-upload">
          <input type="file" accept="application/pdf" formControlName="resume" (change)="onFileSelect($event)" />
        </div>
        <small *ngIf="!resumeUploaded && submitAttempted">
          Resume is required
        </small>
      </div>
    </div>

    <div class="form-group full">
      <label>Cover Letter (Optional)</label>
      <textarea formControlName="notes" placeholder="Write something..."></textarea>
    </div>

    <div class="form-actions">
      <button type="button" class="btn cancel" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn submit" (click)="onSubmit()" [disabled]="applyForm.invalid">Submit</button>
    </div>

  </form>
</div>