<main>
    <app-banner></app-banner>
    <section id="about">
    <app-about></app-about>
    </section>
    <section id="story">
    <app-jobs></app-jobs>
    </section>
    <section id="vision">
    <app-industries></app-industries>
    </section>
    <section id="mission">
    <app-resource-center></app-resource-center>
    </section>
    <section id="culture">
    <app-differentiators></app-differentiators>
    </section>
    <section id="services">
    <app-services-home></app-services-home>
    </section>
    <section id="contact">
    <!-- <app-proyects></app-proyects>
    <app-more-proyects></app-more-proyects> -->
    <app-contact></app-contact>
    </section>
    <section id="career">
    <app-career></app-career>
    </section>
</main>

