@use "./../../../../variables" as *;

.about-section {
  padding: 100px 0px 0px;
  background: #fff;
  font-family: "Inter", sans-serif;

  // .container {
  //   max-width: 1200px;
  // }

  .about-subtitle {
    font-size: 1.2rem;
    color: #00337c;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .about-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
  }

  .about-content p {
    color: #444;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 15px;
  }


  .about-content p,
  .about-values p,
  .about-values .values-list li {
    text-justify: inter-word;
  }


  .about-values {
    background: linear-gradient(160deg, #f9f9f9, #eef6ef);
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: justify;
    text-justify: inter-word;

    .values-title {
      font-size: 1.6rem;
      color: #00337c;
      margin-bottom: 15px;
      font-weight: 600;
    }

    .values-list {
      list-style: none;
      padding: 0;
      margin-top: 15px;

      li {
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
        color: #333;
        font-size: 0.95rem;

        &:before {
          content: "▹";
          color: #00337c;
          position: absolute;
          left: 0;
          font-size: 18px;
          line-height: 1;
        }
      }
    }
  }

  /* Responsive Design */
  @media (max-width: 992px) {
    // .row {
    //   flex-direction: column;
    // }

    .about-content,
    .about-values {
      width: 100%;
      text-align: left;
      padding: 0 15px;
    }

    .about-values {
      margin-top: 30px;
      padding: 25px;
    }

    .about-title {
      font-size: 2rem;
    }
  }

  @media (max-width: 600px) {
    padding: 50px 0;

    .about-title {
      font-size: 1.8rem;
    }

    .about-content p {
      font-size: 0.95rem;
    }

    .values-title {
      font-size: 1.3rem;
    }
  }
}