<main class="scroll-container">
  <section class="scroll-section" id="section1">
    <app-al-ml-solutions></app-al-ml-solutions>
  </section>

  <section class="scroll-section" id="section2">
    <app-drone-developement></app-drone-developement>
  </section>

  <section class="scroll-section" id="section3">
    <app-enterprise-software></app-enterprise-software>
  </section>

  <section class="scroll-section" id="section4">
    <app-data-engineering></app-data-engineering>
    </section>

    <section class="scroll-section" id="section5">
    <app-quality-assurance></app-quality-assurance>
    </section>

    <section class="scroll-section" id="section6">
    <app-sap-consulting></app-sap-consulting>   
    </section>

    <section class="scroll-section" id="section7">
    <app-cloud-infrastructure></app-cloud-infrastructure>
    </section>

    <section class="scroll-section" id="section8">
    <app-automation-digital></app-automation-digital>       
    </section>

    <section class="scroll-section" id="section9">
    <app-technology-consulting></app-technology-consulting> 
    </section>
</main>


<!--<app-cloud-infrastructure></app-cloud-infrastructure>

<app-quality-assurance></app-quality-assurance>
<app-technology-consulting></app-technology-consulting> -->
