<section class="contect-section" data-animate="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h5 class="section-subtitle">Contact Us</h5>
      </div>
    </div>

    <div class="contact-container">
      <div class="contact-image">
        <img src="assets/images/ssplImg/contact-us.jpg" alt="Contact Us">
      </div>

      <div class="contact-form">
        <p>We’d love to hear from you! Please fill out the form below.</p>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" placeholder="Enter your name" />

            <small *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.hasError('required')">
              Name is required
            </small>

            <small *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.hasError('pattern')">
              Only alphabets are allowed
            </small>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="Enter your email" />
            <small *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
              Enter valid email
            </small>
          </div>

          <div class="form-group">
            <label>Message</label>
            <textarea formControlName="message" rows="4" placeholder="Type your message..."></textarea>
            <small *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
              Message is required
            </small>
          </div>

          <div class="btn-group">
            <button type="submit" [disabled]="contactForm.invalid || isSubmitting">
              {{ isSubmitting ? 'Sending...' : 'Send Message' }}
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>