.contect-section{
    padding: 100px 0px 0px;
    background: #ffffff;
    font-family: "Inter", sans-serif;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
}
 .section-subtitle {
        font-size: 1.6rem;
        font-weight: 600;
        color: #00337C;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
    }

.contact-image {
  flex: 1;
  min-width: 300px;
}

.contact-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: fill;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.contact-form {
  flex: 1;
  min-width: 300px;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.contact-form h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #333;
}

.contact-form p {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  outline: none;
  transition: border 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #00337C;
}

button {
  background-color: #00337C;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

button:hover {
  background-color:#00337C;
}
.btn-group{
  display: flex;
  justify-content: end;
}

small {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form, .contact-image {
    width: 100%;
  }
}
.toast-success {
  background-color: #4caf50 !important;
}

.toast-error {
  background-color: #f44336 !important;
}
.toast-info {
  background-color: #2196f3 !important;
}