<section class="career-section container">
  <div class="intro">
    <h2 class="section-subtitle">Join Our Team</h2>
    <p>We are always looking for passionate, talented individuals who want to innovate and create real impact.</p>
  </div>

  <div class="job-list" [ngClass]="{
       'one-job': jobs.length === 1,
       'two-jobs': jobs.length === 2
     }">

    <div class="job-card" *ngFor="let job of paginatedJobs">
      <h3>{{ job.title }}</h3>

      <div class="meta">
        <span><i class="fa fa-sitemap"></i> {{ job.department }}</span>
        <span><i class="fa fa-map-marker"></i> {{ job.location }}</span>
        <span><i class="fa fa-clock"></i>{{ job.job_type }}</span>
        <span><i class="fas fa-rupee-sign"></i>
 {{ job.salary }}</span>
      </div>

      <!-- <pre class="desc">{{ job.description }}</pre> -->
      <!-- <div class="desc-wrapper" [class.expanded]="isExpanded(job.id)">
  <ul class="desc-list">
    <li *ngFor="let point of formatDescription(job.description)">
      {{ point }}
    </li>
  </ul>
</div> -->

      <div class="desc-wrapper" [class.expanded]="isExpanded(job.id)">
        <div class="job-desc" [innerHTML]="sanitizeHtml(job.description)">
        </div>
      </div>


      <span class="read-more" *ngIf="shouldShowReadMore(job.description)" (click)="toggleDescription(job.id)">
        {{ isExpanded(job.id) ? 'Show less' : 'Read more' }}
      </span>


      <div class="apply-btn-div">
        <button class="apply-btn" (click)="apply(job)" [class.disabled-btn]="isAdminLoggedIn"
          [disabled]="isAdminLoggedIn">Apply Now</button>
      </div>
    </div>
  </div>

  <div class="pagination" *ngIf="totalPages > 1">
  <button 
    (click)="changePage(currentPage - 1)" 
    [disabled]="currentPage === 1">
    Prev
  </button>

  <button 
    *ngFor="let page of [].constructor(totalPages); let i = index"
    (click)="changePage(i + 1)"
    [class.active]="currentPage === i + 1">
    {{ i + 1 }}
  </button>

  <button 
    (click)="changePage(currentPage + 1)" 
    [disabled]="currentPage === totalPages">
    Next
  </button>
</div>

</section>