<div class="applied-post-list">
  <div class="toolbar">
    <h2>Applied Posts</h2>

    <!-- <mat-form-field appearance="outline" class="search-field-custom">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Name, email, post title" (keyup)="applyFilter($event)" />
</mat-form-field> -->
    <div class="search-box">
      <label>Search</label>
      <input type="text" (keyup)="applyFilter($event)" placeholder="Name, email, post title" />
    </div>


  </div>


  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <div class="table-wrapper" [hidden]="isLoading">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let row; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidate</th>
        <td mat-cell *matCellDef="let row">
          <div class="candidate-cell">
            <div class="name">{{ row.name }}</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="post_title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Post</th>
        <td mat-cell *matCellDef="let row">{{ row.post?.title }}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">
          {{ row.status || 'NEW' }}
        </td>
      </ng-container> -->

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Applied</th>
        <td mat-cell *matCellDef="let row">
          {{ (row.created_at + 'Z') | date:'medium':'+05:30':'en-US' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button *ngIf="row.resume_url" (click)="openResume(row)" class="download-btn">
            <mat-icon>download</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons>
    </mat-paginator>

  </div>
</div>